includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
#    type_coverage:
#        return: 50
#        param: 35.5
#        property: 70
#
#        # since PHP 8.3
#        constant: 85

    paths:
        - app/

    # Level 10 is the highest level
    level: 5

 #   ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - tests
